@import 'colors';

$line-width: 0.1em;
$line-color: $pitch-black;

@mixin top-border($width: $line-width, $color: $line-color) {
  border-top-style: solid;
  border-top-width: $width;
  border-top-color: $color;
}

@mixin bottom-border($width: $line-width, $color: $line-color) {
  border-bottom-style: solid;
  border-bottom-width: $width;
  border-bottom-color: $color;
}

@mixin left-border($width: $line-width, $color: $line-color) {
  border-left-style: solid;
  border-left-width: $width;
  border-left-color: $color;
}

@mixin right-border($width: $line-width, $color: $line-color) {
  border-right-style: solid;
  border-right-width: $width;
  border-right-color: $color;
}

@mixin box($width: $line-width, $color: $line-color) {
  border-style: solid;
  border-width: $width;
  border-color: $color;
}

.top-border {
  @include top-border();
}

.bottom-border {
  @include bottom-border();
}

.left-border {
  @include left-border();
}

.right-border {
  @include right-border();
}

.box {
  @include box();
}

.top-border-thin {
  @include top-border($width: $line-width / 2);
}

.bottom-border-thin {
  @include bottom-border($width: $line-width / 2);
}

.left-border-thin {
  @include left-border($width: $line-width / 2);
}

.right-border-thin {
  @include right-border($width: $line-width / 2);
}

.box-thin {
  @include box($width: $line-width / 2);
}
