@import 'colors';

$line-width: 2px;
$trans-time: 0.25s;
$line-color: $light-green;

// TODO: Let .button, .dropdown, etc. all `@include` a general `@mixin clickable`?

// TODO: Dropdowns should be very similar to buttons, but upon click they become much taller (revealing contents inside) and the border is fixed to $line-width even when the mouse is no longer hovering above it.

@mixin button-border() {
  position: absolute;
  content: '';
  background: $line-color;
  transition: all $trans-time linear;
}

.button-outer {
  padding: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  border-color: $line-color;
  cursor: pointer;
}

.button-outer::before, .button-outer::after{
  @include button-border();
  height: $line-width;
  width: 0;
}

.button-inner::before, .button-inner::after{
  @include button-border();
  height: 0;
  width: $line-width;
}

.button-outer:hover::before, .button-outer:hover::after{
  width: 100%;
}

.button-outer:hover .button-inner::before, .button-outer:hover .button-inner::after{
  height: 100%;
}

.button-outer:hover::before, .button-outer:hover::after, .button-outer .button-inner::before, .button-outer .button-inner::after{
  transition-delay: 0s;
}

.button-outer::before, .button-outer::after, .button-outer:hover .button-inner::before, .button-outer:hover .button-inner::after{
  transition-delay: $trans-time;
}

.button-outer::before{
  top: 0;
  right: 0;
}

.button-outer::after{
  bottom: 0;
  left: 0;
}

.button-outer .button-inner::before{
  top: 0;
  left: 0;
}

.button-outer .button-inner::after{
  bottom: 0;
  right: 0;
}
