$overlay-opacity: 0.9;

.overlay-wrapper > .overlay {
  top: 0;
  left: 0;
  &.active-init {
    background: white;
  }
  &.active {
    background: rgba(white, $overlay-opacity);
  }
  &:not(.active-init):not(.active) {
    display: none;
  }
}
