@import 'border';
@import 'colors';

.overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: $stark-white;
}

.scroll-overlay {
  @include top-border($width: $line-width / 2);
  margin-top: 0.5em;
}
