@import 'colors';

@mixin overlap() {
  position: absolute;
  display: block;
}

.overlap-container {
  position: relative;
}

.overlap {
  @include overlap();
}

.overlay {
  background: $stark-white;
}

.overlay.top {
  display: block;
}

.overlay.bottom {
  display: none;
}
