@import 'borders';
@import 'colors';
@import 'table';

@mixin fit-to-text() {
  width: min-content;
  white-space: nowrap;
}

.pyagram-flag {
  @include fit-to-text();
  @include border-left();
  & > .pyagram-banner {
    @include border-top();
    @include border-bottom();
    @include border-right();
  }
}

.pyagram-frame {
  @include fit-to-text();
  @include border();
  & > .pyagram-frame-name {
    padding-left: $table-spacing;
    padding-right: $table-spacing;
  }
}

.pyagram-value {
  @include border();
}

.pyagram-object {
  @include fit-to-text();
}

.pyagram-ordered-collection {
  @include border();
  .pyagram-collection-element {
    @include border();
  }
}

.curr-element {
  background: rgba($primary-color, 0.5);
}

.pyagram-placeholder {
  color: transparent;
}
