@import 'border';
@import 'colors';
@import 'text';

@mixin binding-name() {
  text-align: right;
}

@mixin pyagram-element() {
  width: min-content;
  margin: 1em;
  white-space: nowrap;
  a {
    text-decoration: none;
    color: red;
  }
}

.pyagram-element {
  @include pyagram-element();
}

.pyagram-flag {
  @include left-border();
  @include pyagram-element();
}

.pyagram-banner {
  @include top-border();
  @include bottom-border();
  @include right-border();
  .banner-bindings-table {
    text-align: center;
    .binding-var {
    }
    .binding-val {
      @include box();
    }
  }
}

.pyagram-frame {
  @include box();
  @include pyagram-element();
  .frame-bindings-table {
    margin-left: auto;
    margin-right: 0;
    .binding-var {
      @include binding-name();
    }
    .binding-ret {
      @include binding-name();
      font-family: $sans-font;
    }
    .binding-val {
      @include box();
      text-align: left;
    }
  }
}

.pyagram-object {
  font-family: $mono-font;
}

span.pyagram-object {
  margin-left: 0.5em;
}

.curr-element {
  background: rgba($light-green, 0.5);
}

.invisible {
  color: rgba($stark-white, 0);
}
