@import 'border';
@import 'colors';
@import 'text';

@mixin binding-name() {
  text-align: right;
}

@mixin pyagram-element() {
  width: min-content;
  margin: 0.25em;
  white-space: nowrap;
}

.pyagram-flag {
  @include left-border();
  @include pyagram-element();
}

.pyagram-banner {
  @include top-border();
  @include bottom-border();
  @include right-border();
}

.pyagram-frame {
  @include box();
  @include pyagram-element();
  .frame-bindings-table {
    margin-left: auto;
    margin-right: 0;
  }
}

.curr-element {
  // TODO
}

.binding-var {
  @include binding-name();
}

.binding-ret {
  @include binding-name();
  font-family: $sans-font;
}

.binding-val {
  @include box();
  text-align: left;
}
