@import 'button';
@import 'clickable';
@import 'colors';

.slider-wrapper {
  width: 90%;
}

.slider {
  width: 100%;
}

.todo-todo-todo-todo-todo {
  @include clickable();
  background: $accent-color;
}

.slider-button {
  @include basic-button();
  width: 25%;
  text-align: center;
}
