@import 'button';
@import 'clickable';
@import 'colors';

$slider-height: 10px;

@mixin slider-thumb() {
  @include basic-button();
  height: 2 * $slider-height;
  width: 2 * $slider-height;
  border-radius: 50%;
  background: $stark-white;
}

.slider-wrapper {
  width: 90%;
}

.slider {
  -webkit-appearance: none;
  height: $slider-height;
  width: 100%;
  margin-top: $slider-height;
  margin-bottom: $slider-height;
  border-radius: $slider-height / 2;
  background: $cloud-white;
}

.slider::-webkit-slider-thumb {
  @include slider-thumb();
  -webkit-appearance: none;
  appearance: none;
}

.slider::-moz-range-thumb {
  @include slider-thumb();
}

.slider-button {
  @include basic-button();
  width: 25%;
  text-align: center;
}
