html {
  font-family: 'PT Sans', sans-serif;
  font-size: 12.5pt;
}

p {
  margin: 0.25em 0.25em;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
}

.mono {
  font-family: 'PT Mono', monospace;
}

.show-white-space {
  white-space: pre-wrap;
}
