{% import 'utils.html' as utils %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pyagram</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}?v=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap">
    {{ utils.include_css('main') }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class="flex-row">
    <div class="flex-content-fixed bounded-width">
      <div class="flex-column">
        <div class="flex-content-fixed">
          {{ utils.editor('editor') }}
        </div>
        <div class="flex-content-fixed">
          {{ utils.slider('step-slider', 'Step no.', 0, 0) }}
        </div>
        <div class="flex-content-dynamic scroll-box top-border-thin top-margin-thin">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Haec et tu ita posuisti, et verba vestra sunt.
            Non enim iam stirpis bonum quaeret, sed animalis.
          </p>
        </div>
      </div>
    </div>
    <div class="flex-content-dynamic">
      <div id="overlay-top" class="full-height overlay top">
        {{ utils.button('editor-button', 'Draw Pyagram', True) }}
      </div>
      <div id="overlay-bottom" class="full-height overlay bottom">
        <div class="flex-column" style="height: 85%;">
          <div class="flex-content-fixed title text-center">
            Pyagram
          </div>
          <div id="pyagram" class="flex-content-dynamic scroll-box"></div>
        </div>
        <div class="flex-column" style="height: 15%;">
          <div class="flex-content-fixed title text-center">
            Print Output
          </div>
          <div id="print-output" class="flex-content-dynamic scroll-box"></div>
        </div>
      </div>
    </div>
    {{ utils.include_js('main') }}
  </body>
</html>
