{% extends 'base.html' %}

{% block title %}
  Pyagram
{% endblock %}

{% block body %}
  <div class="vh-100">
    {{ utils.split(
      'io',
      'horizontal',
      [
        (
          'input',
          'html',
          utils.flex_scroll(
            'vertical',
            [
              (None, 'html', utils.editor('code')),
              (None, 'html', utils.slider('snapshots', 'Step ', '', 0, 0)),
              (None, 'html', '<hr class="m-0">'),
            ],
            [],
            (None, 'template', 'info'),
          ),
        ),
        (
          'output',
          'html',
          utils.overlay(
            'output',
            (
              'html',
              utils.button('draw', 'Draw Pyagram', big=True),
            ),
            (
              'html',
              utils.switch(
                'data',
                (
                  (
                    'result',
                    'html',
                    utils.split(
                      'runtime',
                      'vertical',
                      [
                        ('vm', 'template', 'pyagram'),
                        ('sys', 'template', 'print-output'),
                      ],
                    ),
                  ),
                  (
                    'error',
                    'template',
                    'error-panel',
                  ),
                ),
              ),
            ),
            start_active=True,
          ),
        ),
      ],
    ) }}
  </div>
{% endblock %}
