{% import 'utils.html' as utils %}

<div class="mx-3 mt-3">
  text
  {{ utils.accordion(
    'menu',
    [
      (
        'visualization-options',
        'Visualization Options',
        'html',
        utils.options(
          'vis',
          [
            (
              'split-view',
              'Show stack and heap in separately scrollable panes.',
            ),
            (
              'show-flags',
              'Show completed flags.',
            ),
          ],
        ),
      ),
    ],
  ) }}
</div>
