{% import 'utils.html' as utils %}

<div class="d-flex flex-column h-100 w-100">
  {{ utils.section(3, 'Pyagram', False, True) }}
  <hr class="m-0">
  {{ utils.switch(
    'vm',
    (
      (
        'unified',
        'html',
        utils.flex_scroll(
          'vertical',
          [],
          [],
          (
            None,
            'html',
            utils.flex_scroll(
              'horizontal',
              [],
              [],
              (None, 'template', 'pyagram-unified'),
            ),
          ),
        ),
      ),
      (
        'divided',
        'template',
        'pyagram-divided',
      ),
    ),
  )}}
  <div id="pyagram-exception"></div>
</div>
