<div class="overlap-wrapper h-100 w-100">
  <div class="overlap h-100 w-100">
    <table class="border-collapse font-family-monospace">
      <tr>
        <td class="align-top p-0" id="unified-stack"></td>
        <td class="pyagram-midspace"></td>
        <td class="align-top p-0" id="unified-heap"></td>
      </tr>
    </table>
  </div>
  <svg class="overlap h-100 w-100" id="pyagram-svg-canvas" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <marker id="circle" markerWidth="4" markerHeight="4" refX="2" refY="2">
        <circle cx="2" cy="2" r="2" fill="black"/>
      </marker>
      <marker id="arrowhead" markerWidth="8" markerHeight="8" refX="0" refY="1" viewBox="0,0 2,2" orient="auto">
        <path d="M0,0 L2,1 0,2 Z"></path>
      </marker>
    </defs>
    <g id="pointers" fill="none" stroke="black" stroke-width="1" marker-start="url(#circle)" marker-end="url(#arrowhead)"/>
  </svg>
</div>
