{% import 'utils.html' as utils %}

{{ utils.split(
  'vm',
  'horizontal',
  [
    (
      'stack',
      'html',
      utils.flex_scroll(
        'vertical',
        [],
        [],
        (
          None,
          'html',
          utils.flex_scroll(
            'horizontal',
            [],
            [],
            (None, 'html', ''),
            'divided-stack',
          ),
        ),
      ),
    ),
    (
      'heap',
      'html',
      utils.flex_scroll(
        'vertical',
        [],
        [],
        (
          None,
          'html',
          utils.flex_scroll(
            'horizontal',
            [],
            [],
            (None, 'html', ''),
            'divided-heap',
          ),
        ),
      ),
    ),
  ],
) }}
