{% import 'utils.html' as utils %}

<div class="d-flex flex-column h-100 w-100">
  {{ utils.section(3, 'Pyagram', False, True) }}
  <hr class="m-0">
  {{ utils.switch(
    'pyagram-stack-heap-switch',
    (
      (
        'unified-view',
        'html',
        utils.flex_scroll(
          'vertical',
          [],
          [],
          (
            None,
            'html',
            utils.flex_scroll(
              'horizontal',
              [],
              [],
              (None, 'template', 'pyagram-unified'),
            ),
          ),
        ),
      ),
      (
        'divided-view',
        'html',
        utils.split(
          'stack-heap-split',
          'horizontal',
          [
            (
              'stack',
              'html',
              utils.flex_scroll(
                'vertical',
                [],
                [],
                (
                  None,
                  'html',
                  utils.flex_scroll(
                    'horizontal',
                    [],
                    [],
                    (None, 'html', ''),
                    'divided-view-pyagram-stack',
                  ),
                ),
              ),
            ),
            (
              'heap',
              'html',
              utils.flex_scroll(
                'vertical',
                [],
                [],
                (
                  None,
                  'html',
                  utils.flex_scroll(
                    'horizontal',
                    [],
                    [],
                    (None, 'html', ''),
                    'divided-view-pyagram-heap',
                  ),
                ),
              ),
            ),
          ],
        ),
      ),
    ),
  )}}
  <div id="pyagram-exception"></div>
</div>
