{% macro include_css(file) %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/{}.css'.format(file)) }}">
{% endmacro %}

{% macro include_js(file) %}
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/{}.js'.format(file)) }}"></script>
{% endmacro %}

{% macro button(id, text, center) %}
  <div id="{{ id }}" class="button-outer {% if center %} center {% endif %}">
    <div class="button-inner">
      <p class="title">{{ text }}</p>
    </div>
  </div>
{% endmacro %}
