@mixin flex($flexibility) {
  flex-basis: auto;
  flex-grow: $flexibility;
  flex-shrink: $flexibility;
}

.flex-column {
  display: flex;
  height: 100%;
  flex-flow: column;
}

.flex-row {
  display: flex;
  width: 100%;
  flex-flow: row;
}

.flex-content-fixed {
  @include flex(0);
}

.flex-content-dynamic {
  @include flex(1);
}
