@import 'border';
@import 'colors';
@import 'margin';
@import 'text';

@mixin binding-name() {
  text-align: right;
}

@mixin pyagram-element() {
  @include full-margin();
  width: min-content;
  white-space: nowrap;
  a {
    text-decoration: none;
    color: $highlight-color;
  }
}

.pyagram-flag {
  @include left-border();
  @include pyagram-element();
}

.pyagram-banner {
  @include top-border();
  @include bottom-border();
  @include right-border();
  .banner-bindings-table {
    text-align: center;
    .binding-var {
    }
    .binding-val {
      @include box();
    }
  }
}

.pyagram-frame {
  @include box();
  @include pyagram-element();
  .frame-bindings-table {
    margin-left: auto;
    margin-right: 0;
    .binding-var {
      @include binding-name();
    }
    .binding-ret {
      @include binding-name();
      font-family: $sans-font;
    }
    .binding-val {
      @include box();
      text-align: left;
    }
  }
}

.pyagram-pointer {
}

.pyagram-object {
  @include pyagram-element();
  @include left-margin(5em);
  .pyagram-object-body {
    font-family: $mono-font;
  }
  span.pyagram-object-body {
    @include left-margin(0.5em);
  }
}

.pyagram-ordered-collection {
  @include box();
  .pyagram-collection-element {
    @include box();
    padding: 0.5em;
  }
}

.curr-element {
  background: rgba($light-green, 0.5);
}

.invisible {
  color: rgba($stark-white, 0);
}
